
body, html{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

*{
    box-sizing: border-box;
}

.icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid white; */
}

.text-white{
  color: white
}

.main-container {
  width: 100vw; 
  height: 100vh;
  overflow: hidden; 
}

.full-size {
  width: 100%; 
  height: 100%; 
}

.flex-container {
  display: flex; 
  overflow: hidden;
}

.page-container {
  width: 66.6667%; 
  overflow-y: scroll; 
  overflow-x: hidden; 
}

/* styles.css */
.tags-container {
  width: 16.6667%; 
  border: 1px solid #ccc;
  background-color: #222;
  color: white;
  font-size: 0.75rem;
  overflow-y: auto;
}

.type-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.type-header:hover {
  background-color: #363636;
}

.chevron {
  transition: transform 0.2s ease-in-out;
}

.rotate {
  transform: rotate(90deg);
  color: red;
}

.tag-items {
  color: #ccc;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.tag-item:hover {
  background-color: #363636;
  cursor: pointer;
}


.properties-container {
  font-size: 0.8rem;
  width: 16.67%; 
  background-color: #222;
  color: white;
  flex-direction: column;
}

.properties-content{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 12px;
}

.input-text{
  padding: 0.4rem;
  background-color: transparent;
  border: none;
  color: white;
  /* border-bottom: 1px solid #ccc; */
}

.input-text:focus{
  border-bottom: 1px solid #0888c8;
  outline: none;
}

.input-text:hover{
  border-bottom: 1px solid #ccc;

}

.label-attribut{
  color: #ccc;
}

.properties-header {
  display: flex;
  padding: 0rem 1rem;
  justify-content: space-between;
  font-size: 1.125rem; 
  border-bottom: 1px white solid;
  /* font-weight: bold; */
}

.attribut{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.property-item {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
}

.input-container {
  width: 300px;
}

.properties-container {
  font-family: Arial, sans-serif;
  background: #222; /* Dark background */
  color: white;
}

.properties-header {
  display: flex;
  border-bottom: 1px solid #555; /* Light grey border for separation */
  padding: 0;
}

.properties-header .active{
  border-bottom: blue;
}
.tab {
  width: 50%;
  padding: 1rem;
  color: #ccc;
  cursor: pointer;
  background-color: transparent;
  border: none;
  /* border-bottom: 3px solid transparent; Invisible border for alignment */
}

.tab:hover{
  color: white;
}

.tab.active {
  border-bottom: 2px solid #00aaff; /* Blue border for active tab */
  color: white;
}

.property-item {
  margin-bottom: 5px;
}

.property-input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  background: #333; /* Slightly lighter dark background for inputs */
  border: 1px solid #555;
  color: white;
}


*::-webkit-scrollbar {
    height: 2px;
    width: 2px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #F2FDFF;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #000000;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #CACACA;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #A3A3A3;
  }
  


body, html, main{
    width: 100%;
    height: 100%;
    /* font-family: 'Inter', sans-serif;
    font-weight: 100; */
}

.rotate-90 {
    transform: rotate(90deg) !important;
  }
  